--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
langchain
langchain-google-genai
langchain_huggingface
langchain-chroma
langchain-community
chromadb
pydantic
duckduckgo-search
sentence-transformers